/* Container */
@media (min-width: 1400px) {
    .container {
      max-width: 1600px;
    }
  }

/* ======= why audit css ========*/
.why-audit {
    background-color: black;
}

.why-audit .title h5 {
    color: #f14e4e;
}

.why-audit .title p {
    color:white;
    font-size: 17px;
    margin-top: 15px;
}

.why-audit .title i {
    margin-top: 7px;
    color:white;
}

.why-audit .single-bloc-why {
    border-radius: 20px;
}

.why-audit .single-bloc-why h4 {
    padding-left: 20px;
}

.why-audit .single-bloc-why p {
    padding-left: 35px;
    font-size: 16px;
    color: black;
    max-width: calc(80 * 1ch);
}

.why-audit .single-bloc-why .image {
    min-height: 330px;
    min-width: 300px;
    max-width: 500px;
    max-height: 350px;
    border-radius: 20px;
}

/* ======= audit information css ========*/

.audit-information {
    background-color: #1e2022;
}

/* ======= audit-pricing css ========*/
.audit-pricing {
    background-color: black;
}

.audit-pricing .title h5 {
    color:rgb(62, 100, 226);
}

.audit-pricing .title p {
    color:rgb(126, 126, 126);
    font-size: 17px;
    margin-top: 15px;
}

.audit-pricing .title i {
    margin-top: 7px;
    color:rgb(126, 126, 126);
}

.audit-pricing .single-bloc-audit-pricing {
    background: #25262b;
    padding: 30px; 
    min-height: 10%;
    max-height: 5000px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 0px;
}

.audit-pricing .single-bloc-audit-pricing.recommanded {
    background: #25262b;
    padding: 30px;
    margin-top: -35px;
    min-height: 10%;
    max-height: 5000px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 0px;
    box-shadow: rgb(59, 60, 73) 0px 360px 66px -28px inset;
}

.audit-pricing .single-bloc-audit-pricing .padding {
    padding-top: 18px;
}

.audit-pricing .single-bloc-audit-pricing .content .padding-body {
    margin-top: -40px;
}

.audit-pricing .single-bloc-audit-pricing .content .time p {
    margin-top: 5px;
    text-align: left;
    margin-left: -100%;
    color: #1ec034;
}

.audit-pricing .single-bloc-audit-pricing .content .time-bloc p {
    margin-top: 5px;
    text-align: left;
    margin-left: -100%;
    color: #1ec034;
}

.audit-pricing .single-bloc-audit-pricing .content h2 {
    margin-top: -22px;
    margin-left: -165px;
    color: rgb(62, 100, 226)
}

.audit-pricing .single-bloc-audit-pricing .content .margin {
    margin-left: -2%;
    margin-top: -20px;
}

.audit-pricing .single-bloc-audit-pricing .content .margin-analyse {
    text-align: left;
    margin-left: 3%;
}

.audit-pricing .single-bloc-audit-pricing .content .separation hr {
    color: rgb(255, 255, 255);
    height: 2px;
}

.audit-pricing .single-bloc-audit-pricing .content li {
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.audit-pricing .single-bloc-audit-pricing .content ul {
    margin-left: -15px;
    padding-left: 20px;
}

.audit-pricing .single-bloc-audit-pricing .content i {
    margin-top: 10px;
    margin-right: 4px;
    color: rgb(87, 231, 123);
}

.audit-pricing .single-bloc-audit-pricing .content .bubble .margin {
    margin-left: 5px;
}

.audit-pricing .single-bloc-audit-pricing .content .bubble .bubble-text {
    display: none;
    position: absolute;
    background-color: #000000; 
    border: 1px solid #808080; 
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    margin-left: 11px;     
    margin-top: -25px;
    font-size: 11px;
    width: 220px;
    transform: translateX(-50%) translateY(-100%); 
}

.audit-pricing .single-bloc-audit-pricing .content .bubble .triangle {
    content: '';
    position: absolute;
    bottom: 0px; 
    left: 50%;
    transform: translateX(-50%) translateY(99%);
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #808080 transparent transparent transparent;
  } 
   
.audit-pricing .single-bloc-audit-pricing .content .bubble .triangle::before {
    content: "";
    position: absolute;
    top: -7px; 
    left: 50%; 
    transform: translateX(-50%) translateY(-20%);
    border-style: solid;
    border-width: 7px 7px 0 7px; 
    border-color: #000000 transparent transparent transparent; 
  }

  @media (max-width: 576px) {
    .audit-pricing .single-bloc-audit-pricing .content .bubble .bubble-text {
        max-width: 28%; 
    }
}

.audit-pricing .single-bloc-audit-pricing .content .space svg {
    margin-top: 6px;
    margin-left: 36px;
}

.audit-pricing .single-bloc-audit-pricing .content .space .needle {
    fill: green;
}

.audit-pricing .single-bloc-audit-pricing .content .space .clock {
    fill: white;
}

.audit-pricing .single-bloc-audit-pricing .icon h4 {
    color: #f14e4e;
    margin-top: -58px;
    margin-left: 34%;
    text-align: left;
}

.audit-pricing .single-bloc-audit-pricing .icon p {
    font-size: 11px;
    margin-left: 35%;
    margin-top: 3px;
    line-height: 1.7;
    text-align: left; 
    max-width: calc(35 * 1ch);
}

.audit-pricing .single-bloc-audit-pricing .content .icon i {
    color: #f14e4e;
    width: 60px;
    height: 60px;
    background: #3a3a3a;
    margin-left: 9%;
}

.audit-pricing .single-bloc-audit-pricing .content .icon hr {
    color: black;
    margin-top: 15px;
    width: 100%;
}

.audit-pricing .single-bloc-audit-pricing .button-buy {
    width: 130px;
    background-color: #f14e4e;
}

.audit-pricing .single-bloc-audit-pricing .content h1 {
    margin-top: 10px;
}

.audit-pricing .single-bloc-audit-pricing .content .recommanded {
    border: 1px solid #f14e4e;
    border-radius: 20px;
    margin-top: -25px;
    margin-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.audit-pricing .single-bloc-audit-pricing .content .recommanded p {
    font-size: 11px;
}

/* ======= audit-example css ========*/
.audit-example {
    background-color: #1e2022
}

.audit-example h1 {
    color: #f14e4e;
}

.audit-example h2 {
    color: rgb(62, 100, 226);
}

.audit-example p {
    color: white;
    max-width: calc(100 * 1ch);
    max-width: -20px;
}

.audit-example .image {
    min-height: 180px;
    min-width: 200px;
    border-radius: 20px;
}

/* ======= audit-type css ========*/
.audit-type {
    background-color: black
}

.audit-type .single-bloc-type {
    border-radius: 10px;
}

.audit-type .single-bloc-type .image {
    min-height: 280px;
    min-width: 112%;
    border-radius: 20px;
}

.audit-type .single-bloc-type h1 {
    color: #44446b;
    margin-left: 40px;
}

.audit-type .single-bloc-type p {
    color: #000000;
    margin-left: 40px;
}