.wpcf7 {
    height: 900px;
    background-color: #fff;
    border-radius: 30px;
    padding: 60px 40px 45px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.334);
    border: solid 2px #030303;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 39px #f2f4f9;
    padding: 18px 30px;
    color: #6B6F92;
    border: solid 2px #dcd7d7;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="email"] {
    height: 60px;
}

.wpcf7-form-control-wrap{
    width: 100%;
}

.wpcf7 textarea {
    height: 200px;
    resize: none;
}

.form-section {
    background-color: #000;
}

.contact-map-form {
    margin-bottom: 3%;
    filter: grayscale(100%);
    padding:blur(5);
}

#gmap-canvas-form {
    height: 500px;
    margin-top: 2%;
    border-radius: 30px;
    width: 100%;
}

.info-contact {
    height: 900px;
    background-color: #1e2022;
    border-radius: 30px;
    padding: 60px 40px 45px;
}