
/* ============= pricing css ============== */

.pricing {
    background-color: black;
}

.pricing .header h1 {
    color: rgb(62, 100, 226);
}

.pricing .single-bloc-pricing {
    background: linear-gradient(to bottom, #ececec 25%, #fff 20%);
    padding: 30px; 
    min-height: 300px;
    max-height: 1000px; 
    text-align: center;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 0px;
}

.pricing .single-bloc-pricing.recommanded {
    background: linear-gradient(to bottom, #ececec 27%, #f7f7f7 20%);
    padding: 30px;
    margin-top: -35px;
    min-height: 550px;
    max-height: 1000px;
    text-align: center;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 0px;
    box-shadow: rgb(197, 211, 255) 0px -370px 66px -28px inset;
}

.pricing .single-bloc-pricing .subtitle {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.pricing .single-bloc-pricing .subtitle p {
    margin-top: 15px;
    font-size: 12px;
    color: rgb(62, 100, 226);
}

.pricing .single-bloc-pricing .icon p {
    font-size: 14px;
    color: #f14e4e;
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: auto;
}
.pricing .single-bloc-pricing .subtitle li {
    font-size: 14px;
    color: black;
}

.pricing .single-bloc-pricing .subtitle ul {
    margin-left: 15px;
}

.pricing .single-bloc-pricing .subtitle i {
    margin-top: 2px;
    margin-right: 4px;
    color: rgb(62, 100, 226);
}

.pricing .single-bloc-pricing .subtitle .icon i {
    margin-left: 15px;
    color: #f14e4e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: auto;
    margin-top: auto;
}

.pricing .single-bloc-pricing .subtitle .icon hr {
    color: black;
    margin-top: 8px;
    width: 255px;
}

.pricing .single-bloc-pricing .button-buy {
    margin-top: auto;
    width: 130px;
    background-color: #f14e4e;
}

.pricing .single-bloc-pricing .subtitle h1 {
    font-size: 15px;
    color: rgb(62, 100, 226);
}

.pricing .single-bloc-pricing .subtitle h3 {
    margin-top: -5px;
    margin-bottom: 13px;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    color: rgb(62, 100, 226);
}

.pricing .single-bloc-pricing .subtitle h4 {
    color: #f14e4e;
    margin-left: -2px;
    margin-top: auto;
    margin-bottom: auto;
}

.pricing .single-bloc-pricing .subtitle .recommanded {
    border: 1px solid #f14e4e;
    border-radius: 20px;
    margin-left: 120px;
    margin-top: -17px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.pricing .single-bloc-pricing .subtitle .recommanded p {
    color: #f14e4e;
    margin-top: auto;
}


/* ============= website-process css ============== */

.website-process {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 270px;
}

.website-process h1 {
    color: rgb(62, 100, 226);
}

.website-process .bloc-horizontal1 h1,
.website-process .bloc-horizontal2 h1,
.website-process .bloc-horizontal3 h1,
.website-process .bloc-horizontal4 h1,
.website-process .bloc-horizontal5 h1 {
    font-size: 16px;
    text-align: center;
    margin: 0 30px;
    margin-bottom: 20px;
    line-height: 1.2;
    color: rgb(62, 100, 226);
}

.website-process .bloc-horizontal1 .bloc-petit1,
.website-process .bloc-horizontal2 .bloc-petit2,
.website-process .bloc-horizontal3 .bloc-petit3,
.website-process .bloc-horizontal4 .bloc-petit4,
.website-process .bloc-horizontal5 .bloc-petit5 {
    position: relative;
    display: block;
    width: 80px;
    height: 4px;
    background-color: #ff5858;
    margin-top: -13px;
    margin-left: 56px;
}

.website-process .bloc-horizontal1 p,
.website-process .bloc-horizontal2 p,
.website-process .bloc-horizontal3 p,
.website-process .bloc-horizontal4 p,
.website-process .bloc-horizontal5 p {
    font-size: 14px;
    text-align: center;
    margin: 0 15px;
    margin-bottom: 20px;
    line-height: 1.2;
    margin-top: 8px;
}

.website-process .icone1,
.website-process .icone2,
.website-process .icone3,
.website-process .icone4,
.website-process .icone5 {
    border: 10px solid #ff7b69;
    background: #ff4545;
    width: 105px;
    height: 100px;
    border-radius: 50%;
}

.website-process .icone1 {
    margin-left: 144px;
    margin-top: -53px;
}

.website-process .icone2 {
    margin-left: -124px;
    margin-top: -53px;
}

.website-process .icone3 {
    margin-left: -271px;
    margin-top: -53px;
}

.website-process .icone4 {
    margin-left: 458px;
    margin-top: -172px;
}

.website-process .icone5 {
    margin-left: 303px;
    margin-top: -171px;
}

.website-process .icone1 i,
.website-process .icone2 i,
.website-process .icone3 i,
.website-process .icone4 i,
.website-process .icone5 i {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-bottom: auto;
    margin-left: 2px;
}

.website-process .icone1 i {
    margin-top: 17px;
}

.website-process .icone2 i {
    margin-top: 18px;
    margin-left: 1px;
}

.website-process .icone3 i {
    margin-top: 18px;
}

.website-process .icone4 i {
    margin-top: 19px;
}

.website-process .icone5 i {
    margin-top: 18px;
}

.website-process .bloc-horizontal1,
.website-process .bloc-horizontal2,
.website-process .bloc-horizontal3,
.website-process .bloc-horizontal4,
.website-process .bloc-horizontal5 {
    display: block;
    width: 180px;
    height: 30px;
    margin: 10px 0;
}

.website-process .bloc-horizontal1::before,
.website-process .bloc-horizontal2::before,
.website-process .bloc-horizontal3::before,
.website-process .bloc-horizontal4::before,
.website-process .bloc-horizontal5::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #4646ca;
    height: 18px;
}

.website-process .bloc-horizontal1 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.website-process .bloc-horizontal1,
.website-process .bloc-horizontal3,
.website-process .bloc-horizontal5 {
    background-color: #4646ca;
    margin-top: 22px;
    margin-left: 100px;
}

.website-process .bloc-horizontal2,
.website-process .bloc-horizontal4 {
    background-color: #3c3c8a;
    margin-top: 22px;
    margin-left: -160px;
}

.website-process .bloc-horizontal3 {
    margin-left: -310px;
}

.website-process .bloc-horizontal4 {
    margin-left: 420px;
    margin-top: 22px;
}

.website-process .bloc-horizontal5 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 21px;
    margin-left: 270px;
}

.website-process .bloc-horizontal1::before {
    top: 1356px; 
    left: 520px;
}

.website-process .bloc-horizontal2::before {
    top: 1356px; 
    left: 692px;
}

.website-process .bloc-horizontal3::before {
    top: 1356px; 
    left: 875px;
}

.website-process .bloc-horizontal4::before {
    top: 1356px; 
    left: 1053px;
}

.website-process .bloc-horizontal5::before {
    top: 1356px;  
    left: 1229px;
}

/* ============= Mobile section css ============== */

.mobile-text1, .mobile-text2, .mobile-text3, .mobile-text4, .mobile-text5 {
    margin-left: 40px;
}

.mobile-text1 h1, .mobile-text2 h1, .mobile-text3 h1, .mobile-text4 h1, .mobile-text5 h1 {
    font-size: 15px;
    margin-left: 0;
}

.website-process .mobile-text1 h1 {
    margin-left: -15px;
}

.website-process .mobile-text2 h1 {
    margin-left: 270px;
}

.website-process .mobile-text3 h1 {
    margin-left: 13px;
}

.website-process .mobile-text4 h1 {
    margin-left: 263px;
}

.website-process .mobile-text5 h1 {
    margin-left: 132px;
}

.mobile-text1 p, .mobile-text2 p, .mobile-text3 p, .mobile-text4 p, .mobile-text5 p {
    font-size: 13px;
    text-align: center;
    margin: 0 5px;
    margin-bottom: 20px;
    line-height: 1.2;
    width: 150px;
    margin-left: 0;
}

.website-process .mobile-text1 p {
    margin-top: 8px;
    margin-left: -2px;
}

.website-process .mobile-text2 p {
    margin-top: 8px;
    margin-left: 230px;
}

.website-process .mobile-text3 p {
    margin-top: 8px;
    margin-left: 3px;
}

.website-process .mobile-text4 p {
    margin-top: 8px;
    margin-left: 225px;
}

.website-process .mobile-text5 p {
    margin-top: 8px;
    margin-left: 122px;
}

.mobile-text1 .icone1, .mobile-text2 .icone2, .mobile-text3 .icone3, .mobile-text4 .icone4, .mobile-text5 .icone5 {
    font-size: 13px;
    text-align: center;
    margin: 0 5px;
    margin-bottom: 20px;
    line-height: 1.2;
    width: 100px;
}

.mobile-text1 .icone1 {
    margin-top: -95px;
    margin-left: 23px;
}

.mobile-text2 .icone2 {
    margin-top: -230px;
    margin-left: 250px;
}

.mobile-text3 .icone3 {
    margin-top: 5px;
    margin-left: 25px;
}

.mobile-text4 .icone4 {
    margin-top: -243px;
    margin-left: 250px;
}

.mobile-text5 .icone5 {
    margin-left: 145px;
    margin-top: -10px;
}