
/* ============= pricing css ============== */

.pricing {
    background-color: black;
}

.pricing .header h1 {
    color: rgb(62, 100, 226);
}

.pricing .single-bloc-pricing {
    background: #25262b;
    padding: 30px; 
    min-height: 200px;
    max-height: 1000px; 
    border-radius: 45px 45px 0 45px;
}

.pricing .single-bloc-pricing.recommanded {
    background: #25262b;
    padding: 30px;
    margin-top: -35px;
    min-height: 108%;
    max-height: 1000px;
    border-radius: 45px 45px 0 45px;
    box-shadow: rgb(59, 60, 73) 0px 360px 66px -28px inset;
}

.pricing .single-bloc-pricing .padding {
    padding-top: 18px;
}

.pricing .single-bloc-pricing .content .padding-body {
    margin-top: -40px;
}

.pricing .single-bloc-pricing .content p {
    margin-top: -15px;
    font-size: 12px;
}

.pricing .single-bloc-pricing .content .margin {
    margin: auto;
}

.pricing .single-bloc-pricing .content li {
    font-size: 14px;
    color: rgb(175, 175, 175);
}

.pricing .single-bloc-pricing .content ul {
    margin-left: 15px;
}

.pricing .single-bloc-pricing .content i {
    margin: 2px 5px 0 0;
    color: rgb(87, 231, 123);
}

.pricing .single-bloc-pricing .icon h4 {
    color: #f14e4e;
    margin: -58px 0 0 46%;
    text-align: left;
}

.pricing .single-bloc-pricing .icon p {
    font-size: 12px;
    margin: 3px 0 0 47%;
    line-height: 1.2;
    text-align: left; 
}

.pricing .single-bloc-pricing .content .icon i {
    color: #f14e4e;
    width: 60px;
    height: 60px;
    background: #3a3a3a;
    margin-left: 20%;
}

.pricing .single-bloc-pricing .content .icon hr {
    color: black;
    margin-top: 25px;
    width: 255px;
    margin-left: auto;
    margin-right: auto;
}

.pricing .single-bloc-pricing .button-buy {
    width: 130px;
    background-color: #f14e4e;
}

.pricing .single-bloc-pricing .content h1 {
    font-size: 15px;
    color: rgb(62, 100, 226);
}

.pricing .single-bloc-pricing .content h3 {
    margin: -5px 0 13px;
    font-family: 'Poppins', sans-serif;
}

.pricing .single-bloc-pricing .content .recommanded {
    border: 1px solid #f14e4e;
    border-radius: 20px;
    margin: -25px 0 15px;
    padding: 0 10px;
}

.pricing .single-bloc-pricing .content .recommanded p {
    font-size: 11px;
    margin-top: auto;
}

/* ============= website-process css ============== */
.website-process {
    background-color: black;
}

.website-process .primary-title h1{
    color: rgb(62, 100, 226);
    margin-bottom: -60px;
}

.website-process h1 {
    font-size: 16px;
    margin: 0 30px 20px;
    line-height: 1.2;
    color: rgb(62, 100, 226);
}
.website-process .bloc-small{
    position: relative;
    display: block;
    width: 80px;
    height: 4px;
    background-color: #ff5858;
    margin-top: -13px;
}
.website-process p {
    margin: 0 15px 20px;
    line-height: 1.2;
    margin-top: 8px;
}
.website-process .icon {
    border: 10px solid #ff7b69;
    background: #ff4545;
    width: 105px;
    height: 100px;
    margin-bottom: 20px;
}
.website-process .icon i {
    font-size: 45px;
    margin: 18px 0 0 2px;
}

.website-process .bloc-light-blue,
.website-process .bloc-dark-blue {
    display: block;
    height: 30px;
    margin: 10px 0;
}
.website-process .bloc-light-blue::before,
.website-process .bloc-dark-blue::before {
    content: '';
    position: relative;
    left: 50%;
    width: 2px;
    background-color: #4646ca;
    height: 17px;
    display: block;
    top: -17px;
}
.website-process .left-border {
    border-radius: 20px 0 0 20px;
}
.website-process .bloc-light-blue {
    background-color: #4646ca;
}
.website-process .bloc-dark-blue {
    background-color: #3c3c8a;
}
.website-process .right-border {
    border-radius: 0 20px 20px 0;
}